<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Retard</title>
  <!-- HTMX -->
  <script src="https://cdn.jsdelivr.net/npm/htmx.org/dist/htmx.min.js"
    integrity="sha256-YCMa5rqds4JesVomESLV9VkhxNU7Zr9jfcGLTuJ8efk=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-loading-states/loading-states.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets/response-targets.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-preload/preload.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-head-support/head-support.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws/ws.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-json-enc/json-enc.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-debug/debug.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-alpine-morph/alpine-morph.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-remove-me/remove-me.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-morphdom-swap/morphdom-swap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-include-vals/dist/include-vals.esm.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-disable-element/disable-element.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ajax-header/ajax-header.min.js"></script>

  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/htmx-ext-head-support/manual-tests/basic-head-merge-3.min.css">

  <!-- Alpine -->
  <script src="https://cdn.jsdelivr.net/npm/alpinejs/dist/cdn.min.js"
    integrity="sha256-4EHxtjnR5rL8JzbY12OKQJr81ESm7JBEb49ORPo29AY=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@alpinejs/mask/dist/cdn.min.js"
    integrity="sha256-q8JJEkMqayPe6ltvrKt9Qs6+6a3e8SlAxSvq+pcYbMg=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@alpinejs/persist/dist/cdn.min.js"
    integrity="sha256-532TLFLOYWwqXF3EVTCgIhkRoxqrSKF56GgJMtTTqkc=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@alpinejs/focus/dist/cdn.min.js"
    integrity="sha256-aI5c1tr58OSWo8xXoRSW9rpHk3gYKJ1+xPjq1RAuqak=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse/dist/cdn.min.js"
    integrity="sha256-x2YdTizwRl481pMZDeu19ZKsctzEz+ZQWBJzdnVYsns=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect/dist/cdn.min.js"
    integrity="sha256-sav73qRAT3EB3ibvbi5l9O+uc757MwIUHuzyfe9oVg4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@alpinejs/sort/dist/cdn.min.js"
    integrity="sha256-tFKFh4yWJOYN69Holh9DDjSctbLmWsWgHQLDroJAnjw=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@alpinejs/ui/dist/cdn.min.js"
    integrity="sha256-VQ5VlRf//hp/tFp3jDdIbSzxXiGAznBvUOZVqpALghE=" crossorigin="anonymous"></script>

  <!-- Tailwind CSS -->
  <script src="https://cdn.jsdelivr.net/npm/tailwindcss/dist/lib.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/typography/src/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/oxide/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser/dist/index.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/forms/src/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/aspect-ratio/src/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/container-queries/dist/index.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/line-clamp/src/index.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/index.min.css">

  <!-- DaisyUI -->
  <script src="https://cdn.jsdelivr.net/npm/daisyui/index.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui/daisyui.min.css">

  <!-- Flowbite -->
  <script src="https://cdn.jsdelivr.net/npm/flowbite/dist/flowbite.min.js"
    integrity="sha256-RV6wrUbQsUVafqcoaIBufocY5qx8oY0wyRP3aoAOUgI=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/flowbite-datepicker/dist/js/datepicker-full.min.js"
    integrity="sha256-jQWYYkP+mvRtZoC+tD5AXWB2gi3LL9W91BwDXNRFzus=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/flowbite-typography/src/index.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flowbite/dist/flowbite.min.css"
    integrity="sha256-xEh9BREq35OuZnvYl+H6HAQPTgXcyMQQi0tbWucczyY=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flowbite-datepicker/dist/css/datepicker.min.css"
    integrity="sha256-qBdax7vltGKHARnTHa/N56FlcER8skmAUL++BkonbZw=" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flowbite-typography/dist/typography.min.css"
    integrity="sha256-0PTpzcFyf4L2OLKO8+xCBFK9ZABMRPVkxu6y0yM2RiU=" crossorigin="anonymous">

</head>

<body>
  <header hx-get="/html/components/navbar.html" hx-trigger="load" hx-swap="outerHTML" id="navbar">

  </header>
  <section hx-get="/html/components/hero.html" hx-trigger="load" hx-swap="outerHTML" id="hero">

  </section>
  <section hx-get="/html/components/about.html" hx-trigger="load" hx-swap="outerHTML" id="about">

  </section>
  <main id="projects" hx-get="/html/components/projects.html" hx-trigger="load" hx-swap="outerHTML">

  </main>
  <section id="profession" hx-get="/html/components/profession.html" hx-trigger="load" hx-swap="outerHTML">

  </section>
  <footer id="contact" hx-get="/html/components/contact.html" hx-trigger="load" hx-swap="outerHTML">

  </footer>
</body>

</html>